---
---

@import "{{ site.theme }}";

body {
    padding: 0;
}

header {
    text-align: center;
    position: static;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
}

section {
    position: static;
    float: none;
    margin: auto;
}

footer {
    width: 300px;
    position: static;
    float: none;
    margin: auto;
    text-align: center;
}

.wrapper {
    margin: 50px auto;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.9);
    overflow: auto;
    position: relative;
    z-index: 1;
    width: 500px;
}

#mainCanvas {
    width: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}


.notice {
    margin: 2em 0 !important;
    padding: 1em;
    color: #494e52;
    font-size: 0.8em !important;
    border-radius: 4px;
    text-indent: initial;
    clear: both;
    background-color: #eef7fa;
    box-shadow: 0 1px 1px rgba(82, 173, 200, 0.25);
}

#projectscontainer {
    margin: auto;
    text-align: center;
}

#projectslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projectlistitem {
    padding-top: 10px;
}
